<template>
  <div class="about-page">Welcome to my practice Vue webpage</div>
</template>

<script>
export default {
  name: "AboutPage",
  data() {
    return {};
  },
};
</script>


<style>
.about-page {
  width: 500px;
  height: 300px;
  margin: 100px auto;

  color: #fff;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 1px 1px 0 #5bc0be, -1px -1px 0 pink;

  border-radius: 10px;
  border: solid #fff;
  box-shadow: 5px 5px 0 #5bc0be;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>