<template>
  <div class="character-detail-page">
    <div class="character-detail-page__basic-info">
      <div
        class="character-detail-page__image"
        :style="{ backgroundImage: `url(${characterImage})` }"
      ></div>
      <div class="character-detail-page__name">
        {{ characterName }}
      </div>
      <div class="character-detail-page__status">
        {{ characterStatus }}
      </div>
    </div>
    <div class="detail-card">
      <div class="detail-card__header">
        <div class="detail-card__header--name">Name</div>
        <div class="detail-card__header--relase-date">Relase Date</div>
        <div class="detail-card__header--num">Season</div>
        <div class="detail-card__header--num">Episode</div>
        <div class="detail-card__header--num">Global Episode</div>
      </div>
      <div
        class="detail-card__row"
        v-for="(episode, ndx) in episodeList"
        :key="ndx"
      >
        <span class="detail-card__cell--name">{{ episode.name }}</span>
        <span class="detail-card__cell--relase-date">{{
          episode.relaseDate
        }}</span>
        <span class="detail-card__cell--num">{{ episode.season }}</span>
        <span class="detail-card__cell--num">{{ episode.episode }}</span>
        <span class="detail-card__cell--num">{{ episode.globalEpisode }}</span>
      </div>
    </div>
  </div>
</template>

<script>
const API_EPISODE_URL = "https://rickandmortyapi.com/api/episode/";
const API_CHARACTER_URL = "https://rickandmortyapi.com/api/character/";

export default {
  name: "CharacterDetailPage",
  data() {
    return {
      characterName: "",
      characterImage: "",
      characterStatus: "",
      episodeList: [],
    };
  },
  methods: {
    getSeasonAndEpisode(code) {
      return {
        season: parseInt(code.slice(1, 3)),
        episode: parseInt(code.slice(4, 6)),
      };
    },
    async fetchCharacterData(id) {
      const response = await fetch(`${API_CHARACTER_URL}${id}`);
      const responseJSON = await response.json();

      this.characterName = responseJSON.name;
      this.characterImage = responseJSON.image;
      this.characterStatus = responseJSON.status;

      await this.fetchEpisodeData(responseJSON.episode);
    },

    async fetchEpisodeData(urlEpisodeList = []) {
      const idEpisodeList = urlEpisodeList.map((url) =>
        parseInt(url.split("/").reverse()[0])
      );

      const response = await fetch(`${API_EPISODE_URL}[${idEpisodeList}]`);
      const responseJSON = await response.json();

      this.episodeList = responseJSON.map((episode, ndx) => ({
        name: episode.name,
        relaseDate: episode.air_date,
        ...this.getSeasonAndEpisode(episode.episode),
        globalEpisode: ndx + 1,
      }));
    },
  },
  async created() {
    await this.fetchCharacterData(this.$route.params.id);
  },
};
</script>


<style>
.character-detail-page__basic-info {
  margin: 20px auto;
  padding-bottom: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  font-weight: bolder;
  border-bottom: #fff solid;
}

.character-detail-page__image {
  width: 200px;
  height: 200px;

  background-size: contain;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.character-detail-page__name,
.character-detail-page__status {
    font-size: 24px;
}

.detail-card {
  width: 870px;
  margin: 20px auto;

  color: #fff;
  font-weight: 500;
}

.detail-card__header {
  margin: 20px 0;
  font-size: 18px;
  text-align: center;
}

.detail-card__header--name {
  width: 340px;
  display: inline-block;
}

.detail-card__header--relase-date {
  width: 150px;
  display: inline-block;
}

.detail-card__header--num {
  width: 120px;
  display: inline-block;
}

.detail-card__row {
  padding: 5px 0;
  margin: 10px 0 10px;

  text-align: center;
  border: 1px solid #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 0 #5bc0be;
}

.detail-card__row:nth-child(even) {
  background-color: teal;
}

.detail-card__cell--name {
  width: 340px;
  display: inline-block;
}

.detail-card__cell--relase-date {
  width: 150px;
  display: inline-block;
}

.detail-card__cell--num {
  width: 120px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}
</style>