<template>
  <div class="favorite-page">
    <div v-if="characterList.length > 0" class="favorite-page__list-card">
      <div
        class="favorite-page__character"
        v-for="(character, ndx) in characterList"
        :key="ndx"
      >
        <div class="favorite-page__character__action">
          <router-link
            class="favorite-page__character__more-info"
            :to="{ name: 'detail', params: { id: character.id } }"
            >ℹ</router-link
          >
          <div
            class="favorite-page__character__like"
            @click="removeCharacter(character.id)"
          >
            ❤
          </div>
        </div>
        <div
          class="favorite-page__character--image"
          :style="{ backgroundImage: `url(${character.image})` }"
        ></div>
        <div class="favorite-page__character--name">
          {{ character.name }}
        </div>
        <div class="favorite-page__character--status">
          {{ character.status }}
        </div>
      </div>
    </div>
    <div v-else class="favorite-page__warning">
      You don't have any favorite character yet
    </div>
  </div>
</template>

<script>
import { type } from "../store";

export default {
  name: "FavoritePage",
  data() {
    return {};
  },
  methods: {
    removeCharacter(id) {
      this.$store.commit(type.REMOVE_CHARACTER, { id });
    },
  },
  computed: {
    characterList() {
      return this.$store.state.favoriteCharacters;
    },
  },
};
</script>

<style>
.favorite-page__list-card {
  width: 612px;
  min-height: 550px;
  margin: 20px auto;
  padding-bottom: 3px;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  border-radius: 10px;
  background-color: teal;
  box-shadow: 5px 5px 0 #5bc0be;
}

.favorite-page__character {
  width: 200px;
  height: 250px;
  margin-top: 3px;
  margin-left: 3px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-weight: 500;
  color: #fff;
  border: solid #fff;
  border-radius: 10px;
  box-shadow: 2px 2px 0 #5bc0be;

  position: relative;
}

.favorite-page__character--image {
  width: 150px;
  height: 150px;

  background-size: contain;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.favorite-page__character__action {
  height: 30px;
  width: 50px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;
}

.favorite-page__character__action > div {
  cursor: pointer;
}

.favorite-page__character__more-info {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: rgb(238, 244, 237);

  border: solid 2px;
  border-radius: 100px;
}

.favorite-page__character__like {
  color: rgb(238, 244, 237);
}

.favorite-page__warning {
  width: 500px;
  height: 300px;
  margin: 100px auto;

  color: #FFF;
  font-weight: bolder;
  font-size: 25px;
  text-shadow: 1px 1px 0 #5bc0be, - 1px -1px 0 pink;

  border-radius: 10px;
  border: solid #fff;
  box-shadow: 5px 5px 0 #5bc0be;

  display: flex;
  justify-content: center;
  align-items: center;
}
</style>