<template>
  <div class="home-page">
    <SearchBox @character-name-chage="updateUrlCharacterName"></SearchBox>
    <!-- ### -->
    <MainCard :character="currentCharacter"></MainCard>
    <!-- ### -->
    <CharacterCarousel :character-list-size="characterList.length">
      <CharacterCard
        v-for="(character, ndx) in characterList"
        @current-character-change="updateCurrentCharacter"
        :character="character"
        :key="ndx"
      >
      </CharacterCard>
    </CharacterCarousel>
    <!-- ### -->
    <div class="pagination-button-group">
      <PaginationButton
        :label="'<< Previous page'"
        @page-change="updateUrlPagination(prevPage)"
      ></PaginationButton>
      <PaginationButton
        :label="'Next Page >>'"
        @page-change="updateUrlPagination(nextPage)"
      ></PaginationButton>
    </div>
  </div>
</template>

<script>
import {
  SearchBox,
  MainCard,
  CharacterCarousel,
  CharacterCard,
  PaginationButton,
} from "../components";
const API_URL = "https://rickandmortyapi.com/api/character/";

export default {
  name: "HomePage",
  data() {
    return {
      baseUrl: API_URL,
      nextPage: null,
      prevPage: null,
      currentCharacter: {
        image: "",
        name: "",
        status: "",
        species: "",
        gender: "",
        location: {},
        origin: {},
      },
      characterList: [],
    };
  },
  computed: {},
  methods: {
    async fetchApiData(url) {
      const response = await fetch(url);
      const responseJSON = await response.json();

      //CHECAR QUE HACER EN CASE DE QUE REGRESE ERROR

      this.nextPage = responseJSON.info.next;
      this.prevPage = responseJSON.info.prev;
      this.characterList = responseJSON.results;
      this.currentCharacter = this.characterList[0];

      return url;
    },
    async updateUrlPagination(url) {
      this.baseUrl = !!url ? this.fetchApiData(url) : this.baseUrl;
    },
    async updateUrlCharacterName(name = "") {
      this.baseUrl = !!name
        ? this.fetchApiData(`${API_URL}?&name=${name}`)
        : this.fetchApiData(API_URL);
    },
    updateCurrentCharacter(character) {
      this.currentCharacter = character;
    },
  },
  async created() {
    await this.updateUrlPagination(this.baseUrl);
  },
  components: {
    SearchBox,
    MainCard,
    CharacterCarousel,
    CharacterCard,
    PaginationButton,
  },
};
</script>

<style>
.character-carousel {
  display: flex;
  width: 100%;
}

.pagination-button-group {
  width: 100%;
  margin-top: 10px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}
</style>