<template>
  <div class="character-carousel">
    <div
      class="character-carousel__arrow-left"
      @click="moveCurrentVisibility(1)"
    >
      <div>{{ "➤" }}</div>
    </div>
    <div class="character-carousel__slot">
      <div
        class="character-carousel__visible"
        :style="{ transform: `translateX(${currentPosition}px)` }"
      >
        <slot></slot>
      </div>
    </div>
    <div
      class="character-carousel__arrow-right"
      @click="moveCurrentVisibility(-1)"
    >
      {{ "➤" }}
    </div>
  </div>
</template>

<script>
const CHARACTER_CARD_BASE_SIZE = 110;
const CHARACTER_CARD_TO_SHOW = 5;

export default {
  name: "CharacterCarousel",
  props: ["characterListSize"],
  data() {
    return {
      currentVisibility: 0,
    };
  },
  methods: {
    moveCurrentVisibility(step) {
      const tempCurrentVisibility = this.currentVisibility + step;
      this.currentVisibility =
        tempCurrentVisibility > this.maxVisibility * -1 &&
        tempCurrentVisibility <= 0
          ? tempCurrentVisibility
          : this.currentVisibility;
    },
  },
  computed: {
    maxVisibility() {
      return Math.ceil(this.characterListSize / CHARACTER_CARD_TO_SHOW);
    },
    currentPosition() {
      return (
        this.currentVisibility *
        (CHARACTER_CARD_TO_SHOW * CHARACTER_CARD_BASE_SIZE)
      );
    },
  },
  watch: {
    characterListSize() {
      this.currentVisibility = 0;
    },
  },
};
</script>

<style>
.character-carousel {
  width: 100%;
  height: 130px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-top: solid rgb(238, 244, 237);
  border-bottom: solid rgb(238, 244, 237);

  background: teal;
}

.character-carousel__slot {
  width: 540px; /*<<<--->>>*/
  overflow: hidden;
}

.character-carousel__visible {
  transition: 0.7s;
  display: inline-flex;
}

.character-carousel__arrow-left {
  width: 30px;
  height: 30px;
  margin-right: 10px;

  display: flex;
  align-items: baseline;
  justify-content: center;

  font-size: 20px;
  color: rgb(238, 244, 237);

  border: solid;
  cursor: pointer;
  border-radius: 100%;

  transform: rotateZ(180deg);
}

.character-carousel__arrow-right {
  width: 30px;
  height: 30px;
  margin-left: 10px;

  display: flex;
  align-items: baseline;
  justify-content: center;

  font-size: 20px;
  cursor: pointer;
  color: rgb(238, 244, 237);

  border: solid;
  border-radius: 100%;
}
</style>