<template>
  <div
    class="character-card"
    @click="$emit('current-character-change', character)"
  >
    <div
      class="character-card__img"
      :style="{ backgroundImage: `url(${character.image})` }"
    ></div>
  </div>
</template>

<script>
export default {
  name: "CharacterCard",
  props: ["character"],
  data() {
    return {};
  },
};
</script>

<style>
.character-card {
  width: 100px;
  height: 100px;
  margin-right: 10px;

  cursor: pointer;
  /* transition: 0.7s; */
  filter: drop-shadow(1px 2px 2px rgb(91, 192, 190));
}

.character-card:hover {
  filter: drop-shadow(2px 3px 2px rgb(91, 192, 190));
}

.character-card:last-child {
  margin-right: 0;
}

.character-card__img {
  width: 100%;
  height: 100%;

  background-size: contain;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}
</style>