<template>
  <header class="header">
    <nav class="header__navigation">
      <router-link class="header__anchor" :to="{ name: 'home' }">
        Home
      </router-link>
      <router-link class="header__anchor" :to="{ name: 'favorite' }">
        Favorites
      </router-link>
      <router-link class="header__anchor" :to="{ name: 'about' }">
        About
      </router-link>
    </nav>
  </header>
</template>

<script>
export default {
  name: "Header",
  data() {
    return {};
  },
};
</script>

<style>
.header {
  height: 50px;
  background: teal;
  border-bottom: solid #3a506b;
}

.header__navigation {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  
  font-weight: bolder;
}

.header__anchor:nth-child(2) {
  margin: 0 10px;
}

.header__anchor {
  width: 200px;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: 0.7s;
  text-decoration: none;
  color: #FFF;
}

.header__anchor:hover {
  background-color: #3a506b;
}
</style>
