<template>
  <div class="main-card">
    <div
      class="main-card__image"
      :style="{ backgroundImage: `url(${character.image})` }"
    ></div>
    <div class="main-card__info">
      <div class="main-card__actions">
        <router-link
          class="main-card__more-info"
          :to="{ name: 'detail', params: { id: character.id } }"
          >ℹ</router-link
        >
        <div class="main-card__like" @click="toggleFavorite">❤</div>
      </div>
      <div>{{ `Name: ${character.name}` }}</div>
      <div
        :class="{
          alive: character.status === 'Alive',
          dead: character.status === 'Dead',
          unknow: character.status === 'Unknow',
        }"
      >
        {{ `Status: ${character.status}` }}
      </div>
      <div>{{ `Species: ${character.species}` }}</div>
      <div>{{ `Gender: ${character.gender}` }}</div>
      <div>{{ `Location: ${character.location.name}` }}</div>
      <div>{{ `Origin: ${character.origin.name}` }}</div>
    </div>
  </div>
</template>

<script>
import { type } from "../store";

export default {
  name: "MainCard",
  props: ["character"],
  methods: {
    toggleFavorite() {
      const character = {
        id: this.character.id,
        name: this.character.name,
        image: this.character.image,
        status: this.character.status,
      };
      this.$store.commit(type.ADD_OR_REMOVE_CHARACTER, { character });
    },
  },
};
</script>

<style>
.main-card {
  width: 600px;
  height: 300px;
  margin: 20px auto;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  border-radius: 10px;
  border: solid rgb(238, 244, 237);
  box-shadow: 5px 5px 0 rgb(91, 192, 190);
}

.main-card__image {
  width: 100%;
  height: 100%;

  background-repeat: no-repeat;
  background-size: cover;
}

.main-card__info {
  width: 100%;
  height: 100%;
  padding: 18px 0 18px 40px;
  box-sizing: border-box;

  font-size: 18px;
  font-weight: bold;
  color: rgb(238, 244, 237);

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  box-sizing: border-box;
}

.alive {
  color: rgb(222, 255, 169);
}

.dead {
  color: rgb(255, 158, 158);
}

.unknow {
  color: rgb(238, 244, 237);
}

.main-card__actions {
  width: 60px;
  padding: 3px 0 0;
  box-sizing: border-box;

  display: flex;
  justify-content: space-around;
  align-items: center;

  position: absolute;
  right: 0;
  top: 0;
}

.main-card__actions > div {
  cursor: pointer;
}

.main-card__more-info {
  width: 18px;
  height: 18px;

  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  color: rgb(238, 244, 237);

  border: solid 2px;
  border-radius: 100px;
}

.main-card__like {
  color: rgb(238, 244, 237);
}
</style>