<template>
  <button class="pagination-button" @click="$emit('page-change')">
    {{ label }}
  </button>
</template>

<script>
export default {
  name: "PaginationButton",
  props: ["label"],
  data() {
    return {};
  },
  methods: {},
};
</script>

<style>
.pagination-button {
  width: 300px;
  height: 40px;

  cursor: pointer;
  color: rgb(238, 244, 237);
  background-color: transparent;
  box-shadow: 5px 5px 0 rgb(91, 192, 190);

  font-size: 17px;
  font-weight: bold;

  border: solid rgb(238, 244, 237);
  border-radius: 10px;
  transition: .7s;
}

.pagination-button:hover {
  box-shadow: 0px 0px 0 rgb(91, 192, 190);
}
</style>