<template>
  <div class="search-box">
    <input
      placeholder="Search by name..."
      class="search-box__input"
      type="text"
      v-model="characterName"
    />
    <button class="search-box__button" @click="characterNameChage">🔎︎</button>
  </div>
</template>

<script>
export default {
  name: "SearchBox",
  data() {
    return {
      characterName: "",
    };
  },
  methods: {
    characterNameChage() {
      this.characterName = this.characterName.trim();
      this.$emit("character-name-chage", this.characterName);
    },
  },
};
</script>

<style>
.search-box {
  width: 100%;
  height: 35px;

  display: flex;
}

.search-box__input {
  width: 100%;
  height: 100%;

  font-size: 16px;
  font-weight: bold;

  border: none;
  box-sizing: border-box;
}

.search-box__button {
  width: 50px;
  height: 100%;

  font-size: 16px;

  border: none;
  box-sizing: border-box;

  color: rgb(238, 244, 237);
  background: teal;
  cursor: pointer;

  transition: .7s;
}

.search-box__button:hover {
  background-color: rgb(91, 192, 190);
}
</style>