<template>
  <div class="app">
    <Header />
    <router-view></router-view>
  </div>
</template>

<script>
import { Header } from "./components";

export default {
  data() {
    return {};
  },
  components: { Header },
};
</script>

<style>
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  background-color: rgb(58, 80, 107);
}

.app {
  width: 100wh;
  min-height: 100vh;
}
</style>
